<section id="content">
  <h1>My Tasks</h1>
  <ol>
  <% @tasks.each do |task| %>
    <%= link_to task_path(task) do %>
      <li> <%= task.title %> </li>
    <% end %>
    <% if task.completed == false %>
      <input type="checkbox" name="" >
    <% else %>
      <input type="checkbox" name="" checked>
    <% end %>
  <% end %>
  <ol>
</section>
